.hidden {
  display: none; }

.show-modal {
  display: block; }

.hide-footer {
  margin-top: -100px;
  visibility: hidden; }

.show-footer {
  visibility: visible;
  margin-top: 0; }

.bookmarked-text {
  color: #147b74; }

.bookmarked-svg {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(180deg) brightness(104%) contrast(107%); }

.btn, .btn:link, .btn:visited {
  width: 140px;
  height: 35px;
  background-color: #3cb4ac;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.5rem;
  font-family: "Commissioner", sans-serif;
  font-weight: 600;
  border: 1px solid #fff;
  cursor: pointer; }

.btn:hover, .btn:active {
  background-color: #147b74; }

.btn--disabled, .btn--disabled:link, .btn--disabled:visited {
  background-color: #7a7a7a; }

.btn--continue {
  width: 100px; }
  @media (min-width: 1200px) {
    .btn--continue {
      width: 120px; } }

.btn--close {
  cursor: pointer; }

.btn--success {
  width: 80px;
  height: 25px;
  margin: 2rem;
  font-size: 1.2rem; }

.card {
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 2.5rem;
  position: relative;
  transition: 1s; }
  @media (min-width: 900px) {
    .card {
      width: 90%;
      margin: 1rem auto; } }
  @media (min-width: 1200px) {
    .card {
      width: 80%;
      margin: 1rem auto; } }
  .card--disabled {
    opacity: 0.4; }
  .card--modal {
    margin: 1rem 2rem;
    padding: 0; }
  .card--hover {
    border: 1px solid #3cb4ac; }
  .card--selected {
    border: 1px solid #3cb4ac; }
  .card__original {
    padding: 2.5rem; }
    @media (min-width: 1200px) {
      .card__original--desktop {
        display: flex;
        flex-direction: column; } }
  @media (min-width: 900px) {
    .card__headings {
      display: flex;
      justify-content: space-between; } }
  .card__heading {
    font-size: 1.4rem;
    padding: 0.4rem; }
    @media (min-width: 1200px) {
      .card__heading {
        font-size: 1.6rem; } }
    .card__heading--cyan {
      color: #3cb4ac;
      font-weight: 600; }
  .card__desc {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #7a7a7a;
    padding: 2rem 0; }
    @media (min-width: 1200px) {
      .card__desc {
        font-size: 1.6rem;
        order: 3; } }
  .card__container {
    display: flex;
    align-items: center; }
  .card__days {
    font-size: 3.5rem;
    font-weight: 600;
    margin-right: 0.5rem; }
    @media (min-width: 1200px) {
      .card__days {
        font-size: 2.5rem; } }
  .card__left {
    font-size: 1.5rem;
    color: #7a7a7a; }
  .card__cta {
    margin-top: 2rem; }
  @media (min-width: 900px) {
    .card__footer {
      display: flex;
      justify-content: space-between; } }
  @media (min-width: 1200px) {
    .card__footer {
      order: 2;
      align-self: flex-end; } }
  .card__addition {
    z-index: 9;
    animation: slideFromTop 1s linear;
    transition: all 0.2s linear; }

.modal {
  width: 60%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 55;
  padding: 2rem; }
  .modal__text-wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative; }
  .modal__close {
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 99;
    position: absolute;
    top: 20px;
    right: 5px; }
  .modal__wrapper {
    display: flex;
    align-items: center; }
  .modal__headings {
    display: flex; }
  .modal__heading {
    font-size: 2rem;
    padding: 2rem 0; }
    @media (min-width: 1200px) {
      .modal__heading {
        font-size: 2.5rem; } }
  .modal__desc {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #7a7a7a;
    margin-bottom: 4.2rem; }
    @media (min-width: 1200px) {
      .modal__desc {
        font-size: 1.6rem; } }
  .modal__hr {
    border: 1px solid #ebebeb; }

.pledge {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1200px) {
    .pledge {
      flex-direction: row;
      justify-content: space-between; } }
  @media (min-width: 1200px) {
    .pledge--no-pledge {
      justify-content: flex-end; } }
  .pledge__p {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #7a7a7a;
    padding: 1rem 0; }
    @media (min-width: 1200px) {
      .pledge__p {
        font-size: 1.6rem; } }
  .pledge__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .pledge__input {
    width: 60px;
    height: 35px;
    margin-right: 1rem;
    padding: 1rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: 1.7rem;
    font-family: "Commissioner", sans-serif;
    font-weight: 400;
    border: 1px solid #ebebeb;
    cursor: pointer;
    text-align: center; }
    @media (min-width: 1200px) {
      .pledge__input {
        width: 80px; } }
  .pledge__input-wrapper {
    position: relative; }
    .pledge__input-wrapper::after {
      content: "$";
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      font-size: 1.7rem;
      font-family: "Commissioner", sans-serif;
      font-weight: 700;
      color: #7a7a7a;
      opacity: 0.8; }

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 1s; }
  .label__radio {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .label__select {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    margin-right: 1rem;
    position: relative; }
    .label__select::after {
      content: "";
      top: 5px;
      left: 5px;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      border-radius: 50%;
      background-color: #3cb4ac;
      display: none; }
    .label__select:hover, .label__select:active {
      background: #ebebeb;
      border: 1px solid #3cb4ac; }

.label input:checked ~ .label__select:after {
  display: block; }

.success-modal {
  width: 60%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 55;
  padding: 3rem;
  text-align: center; }
  .success-modal__icon {
    width: 5rem;
    height: auto; }
  .success-modal__heading {
    font-size: 2rem;
    padding: 2rem; }
  .success-modal__desc {
    color: #7a7a7a;
    font-size: 1.2rem;
    line-height: 2rem; }

.hide-modal {
  display: none; }

.show-modal {
  display: block; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Commissioner", sans-serif; }

.overlay,
.overlay-modal {
  opacity: 1;
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.301) 30%, rgba(0, 0, 0, 0.8) 95%);
  z-index: 100;
  transform: scale(1.8);
  z-index: 9; }

.nav {
  height: 30px;
  padding: 2.9rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 600px) {
    .nav {
      padding: 2.9rem 3.5rem; } }
  .nav__logo {
    width: 13rem;
    height: 2rem; }
  .nav__mobile-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 99; }
    @media only screen and (min-width: 43.75rem) {
      .nav__mobile-menu {
        display: none; } }
  .nav__menu {
    min-width: 250px;
    list-style: none;
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 43.75rem) {
      .nav__menu {
        display: none; } }
  .nav__link, .nav__link:link, .nav__link:visited {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700; }
  .nav__link:hover, .nav__link:active {
    color: #3cb4ac;
    text-decoration: underline; }

.mobile-menu__content {
  background-color: #fff;
  width: 80%;
  height: min-content;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 500px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99; }

.mobile-menu__list {
  list-style: none;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.mobile-menu__hr {
  width: 100%;
  border-top: 1px solid #f7f7f7; }

.mobile-menu__item {
  padding: 2rem; }

.mobile-menu__link, .mobile-menu__link:link, .mobile-menu__link:visited {
  text-decoration: none;
  color: black; }

.mobile-menu__link:hover, .mobile-menu__link:active {
  color: #3cb4ac; }

body {
  /*background-image: url(../design/mobile-design.jpg);
    background-size: 375px;
    background-repeat: no-repeat;
    opacity: 0.7;*/
  background-color: #f7f7f7; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.header {
  background-image: url(../images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 40%;
  position: relative; }
  @media (min-width: 1200px) {
    .header {
      background-image: url(../images/image-hero-desktop.jpg); } }

section {
  width: 76%;
  border: 1px solid #ebebeb;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem; }
  @media (min-width: 1200px) {
    section {
      width: 60%; } }

.intro {
  position: relative;
  padding: 4rem 2rem;
  margin-top: -25px;
  align-items: center; }
  @media (min-width: 900px) {
    .intro {
      margin-top: -100px; } }
  @media (min-width: 1200px) {
    .intro {
      margin-top: -200px; } }
  .intro__mastercraft-logo {
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%); }
  .intro__heading {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 2rem; }
    @media (min-width: 600px) {
      .intro__heading {
        font-size: 2.5rem;
        padding: 2.5rem 2rem; } }
    @media (min-width: 1200px) {
      .intro__heading {
        font-size: 3.5rem;
        padding-top: 6rem; } }
  .intro__desc {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
    padding: 1.5rem 0;
    line-height: 2rem; }
    @media (min-width: 600px) {
      .intro__desc {
        font-size: 1.7rem;
        padding: 2rem 0; } }
    @media (min-width: 1200px) {
      .intro__desc {
        font-size: 2rem; } }
  .intro__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem; }
    @media (min-width: 600px) {
      .intro__btns {
        padding-top: 2rem;
        justify-content: space-around; } }
    @media (min-width: 1200px) {
      .intro__btns {
        padding-top: 4rem; } }
  .intro__cta {
    width: 200px; }
  .intro__bookmark, .intro__bookmark:link, .intro__bookmark:visited {
    text-align: center;
    border: #ebebeb;
    font-weight: 700;
    color: #7a7a7a;
    border-radius: 10rem;
    cursor: pointer; }
    @media (min-width: 900px) {
      .intro__bookmark, .intro__bookmark:link, .intro__bookmark:visited {
        background-color: #f7f7f7;
        width: 180px;
        display: flex;
        align-items: center; } }
  .intro__bookmark:hover, .intro__bookmark:active {
    color: #147b74; }
  .intro__bookmark:hover .intro__bookmark-icon,
  .intro__bookmark:active .intro__bookmark-icon {
    filter: invert(60%) sepia(73%) saturate(369%) hue-rotate(126deg) brightness(89%) contrast(84%); }
  .intro__bookmark__text {
    margin-left: 1.5rem;
    display: none; }
    @media (min-width: 900px) {
      .intro__bookmark__text {
        display: block; } }

.stats {
  border-radius: 10px;
  padding: 2rem;
  align-items: center; }
  .stats__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; }
    @media (min-width: 900px) {
      .stats__wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        width: 450px;
        padding-top: 4rem; } }
  .stats__container {
    text-align: center; }
  .stats__counter {
    font-size: 3.5rem;
    font-weight: 600;
    padding: 0.5rem; }
  .stats__desc {
    font-size: 1.3rem;
    padding: 0.8rem 0 1rem 0;
    color: #7a7a7a;
    opacity: 0.7; }
  .stats__hr {
    width: 30%;
    border-top: 1px solid #ebebeb;
    margin-top: 1rem;
    margin-bottom: 2rem; }
    @media (min-width: 900px) {
      .stats__hr {
        transform: rotate(90deg); } }

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 10px;
  padding: 2rem 0; }
  @media (min-width: 900px) {
    progress[value] {
      padding: 4rem 0; } }
  progress[value]::-webkit-progress-bar {
    background-color: #ebebeb;
    border-radius: 8px; }
  progress[value]::-webkit-progress-value {
    background-color: #3cb4ac;
    border-radius: 8px; }

.about {
  border-radius: 10px;
  padding: 2rem; }
  @media (min-width: 1200px) {
    .about__wrapper {
      width: 90%;
      margin: 0 auto; } }
  .about__heading {
    font-size: 2rem;
    padding: 2rem 0; }
    @media (min-width: 1200px) {
      .about__heading {
        font-size: 2.5rem; } }
  .about__desc {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #7a7a7a;
    margin-bottom: 4.2rem; }
    @media (min-width: 1200px) {
      .about__desc {
        font-size: 1.6rem; } }

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem 0; }

.attribution a {
  color: #3e52a3; }
