*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Commissioner", sans-serif; }

body {
  /*background-image: url(../design/mobile-design.jpg);
  background-size: 375px;
  background-repeat: no-repeat;
  opacity: 0.7;*/
  background-color: #f7f7f7; }

.btn, .btn:link, .btn:visited {
  width: 140px;
  height: 35px;
  background-color: #3cb4ac;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.5rem;
  font-family: "Commissioner", sans-serif;
  font-weight: 600;
  border: 1px solid #fff;
  cursor: pointer; }

.btn:hover, .btn:active {
  background-color: #147b74; }

.btn--disabled, .btn--disabled:link, .btn--disabled:visited {
  background-color: #7a7a7a; }

.hidden {
  display: none; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header {
  background-image: url(../images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100%;
  position: relative; }

.overlay {
  opacity: 1;
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 100;
  transform: scale(1.8);
  z-index: 9; }

.nav {
  height: 30px;
  padding: 2.9rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__logo {
    width: 13rem;
    height: 2rem; }
  .nav__mobile-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 99; }

.mobile-menu__content {
  background-color: #fff;
  width: 80%;
  height: min-content;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 500px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99; }

.mobile-menu__list {
  list-style: none;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.mobile-menu__hr {
  width: 100%;
  border-top: 1px solid #f7f7f7; }

.mobile-menu__item {
  padding: 2rem; }

.mobile-menu__link, .mobile-menu__link:link, .mobile-menu__link:visited {
  text-decoration: none;
  color: black; }

.mobile-menu__link:hover, .mobile-menu__link:active {
  color: #3cb4ac; }

section {
  width: 76%;
  border: 1px solid #ebebeb;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem; }

.intro {
  position: relative;
  padding: 4rem 2rem;
  margin-top: -25px;
  align-items: center; }
  .intro__mastercraft-logo {
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%); }
  .intro__heading {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 2rem; }
  .intro__desc {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
    padding: 1.5rem 0;
    line-height: 2rem; }
  .intro__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0; }
  .intro__cta {
    width: 200px; }
  .intro__bookmark, .intro__bookmark:link, .intro__bookmark:visited {
    border: none;
    background-color: transparent;
    cursor: pointer; }
  .intro__bookmark:hover, .intro__bookmark:active {
    filter: invert(60%) sepia(73%) saturate(369%) hue-rotate(126deg) brightness(89%) contrast(84%); }

.stats {
  border-radius: 10px;
  padding: 2rem;
  align-items: center; }
  .stats__container {
    text-align: center; }
  .stats__counter {
    font-size: 3.5rem;
    font-weight: 600;
    padding: 0.5rem; }
  .stats__desc {
    font-size: 1.3rem;
    padding: 0.8rem 0 1rem 0;
    color: #7a7a7a;
    opacity: 0.7; }
  .stats__hr {
    width: 30%;
    border-top: 1px solid #ebebeb;
    margin-top: 1rem;
    margin-bottom: 2rem; }

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 10px;
  padding: 2rem 0; }
  progress[value]::-webkit-progress-bar {
    background-color: #ebebeb;
    border-radius: 8px; }
  progress[value]::-webkit-progress-value {
    background-color: #3cb4ac;
    border-radius: 8px; }

.about {
  border-radius: 10px;
  padding: 2rem; }
  .about__heading {
    font-size: 2rem;
    padding: 2rem 0; }
  .about__desc {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #7a7a7a;
    margin-bottom: 4.2rem; }
  .about .card {
    border: 1px solid #7a7a7a;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 2.5rem; }
    .about .card--disabled {
      opacity: 0.4; }
    .about .card__heading {
      font-size: 1.4rem;
      padding: 0.4rem; }
      .about .card__heading--cyan {
        color: #3cb4ac;
        font-weight: 600; }
    .about .card__desc {
      font-size: 1.4rem;
      line-height: 2.5rem;
      color: #7a7a7a;
      padding: 2rem 0; }
    .about .card__container {
      display: flex;
      align-items: center; }
    .about .card__days {
      font-size: 3.5rem;
      font-weight: 600;
      margin-right: 0.5rem; }
    .about .card__left {
      font-size: 1.5rem;
      color: #7a7a7a; }
    .about .card__cta {
      margin-top: 2rem; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
