body {
  /*background-image: url(../design/mobile-design.jpg);
    background-size: 375px;
    background-repeat: no-repeat;
    opacity: 0.7;*/
  background-color: $color-body;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.header {
  background-image: url(../images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //height: 40vh;
  width: 100%;
  padding-bottom: 40%;

  position: relative;

  @include respond(desktop) {
    background-image: url(../images/image-hero-desktop.jpg);
  }
}

section {
  width: 76%;
  border: 1px solid $color-border;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: $color-white;

  display: flex;
  flex-direction: column;

  margin-bottom: 1.5rem;

  @include respond(desktop) {
    width: 60%;
  }
}

.intro {
  position: relative;
  padding: 4rem 2rem;
  margin-top: -25px;
  align-items: center;

  @include respond(tablet) {
    margin-top: -100px;
  }

  @include respond(desktop) {
    margin-top: -200px;
  }

  &__mastercraft-logo {
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
  }

  &__heading {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 2rem;

    @include respond(phone) {
      font-size: 2.5rem;
      padding: 2.5rem 2rem;
    }

    @include respond(desktop) {
      font-size: 3.5rem;
      padding-top: 6rem;
    }
  }

  &__desc {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
    padding: 1.5rem 0;
    line-height: 2rem;

    @include respond(phone) {
      font-size: 1.7rem;
      padding: 2rem 0;
    }

    @include respond(desktop) {
      font-size: 2rem;
    }
  }

  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 1rem 2rem;

    @include respond(phone) {
      padding-top: 2rem;
      justify-content: space-around;
    }

    @include respond(desktop) {
      padding-top: 4rem;
    }
  }

  &__cta {
    width: 200px;
  }

  &__bookmark {
    &,
    &:link,
    &:visited {
      text-align: center;
      border: $color-border;
      font-weight: 700;
      color: $color-grey;
      border-radius: 10rem;
      cursor: pointer;

      @include respond(tablet) {
        background-color: $color-body;
        width: 180px;
        display: flex;
        align-items: center;
      }
    }

    &:hover,
    &:active {
      color: $color-secondary;
    }

    &:hover .intro__bookmark-icon,
    &:active .intro__bookmark-icon {
      filter: invert(60%) sepia(73%) saturate(369%) hue-rotate(126deg)
        brightness(89%) contrast(84%);
    }

    &__text {
      margin-left: 1.5rem;
      display: none;

      @include respond(tablet) {
        display: block;
      }
    }
  }
}

.stats {
  border-radius: 10px;
  padding: 2rem;
  align-items: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    @include respond(tablet) {
      flex-direction: row;
      justify-content: space-evenly;
      width: 450px;
      padding-top: 4rem;
    }
  }

  &__container {
    text-align: center;
  }

  &__counter {
    font-size: 3.5rem;
    font-weight: 600;
    padding: 0.5rem;
  }

  &__desc {
    font-size: 1.3rem;
    padding: 0.8rem 0 1rem 0;
    color: $color-grey;
    opacity: 0.7;
  }

  &__hr {
    width: 30%;
    border-top: 1px solid $color-border;
    margin-top: 1rem;
    margin-bottom: 2rem;

    @include respond(tablet) {
      transform: rotate(90deg);
    }
  }
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;

  width: 90%;
  height: 10px;

  padding: 2rem 0;

  @include respond(tablet) {
    padding: 4rem 0;
  }

  &::-webkit-progress-bar {
    background-color: $color-border;
    border-radius: 8px;
  }

  &::-webkit-progress-value {
    background-color: $color-primary;
    border-radius: 8px;
  }
}

.about {
  border-radius: 10px;
  padding: 2rem;

  &__wrapper {
    @include respond(desktop) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__heading {
    font-size: 2rem;
    padding: 2rem 0;

    @include respond(desktop) {
      font-size: 2.5rem;
    }
  }

  &__desc {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: $color-grey;

    margin-bottom: 4.2rem;

    @include respond(desktop) {
      font-size: 1.6rem;
    }
  }
}
