.modal {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 55;

  &__text-wrapper {
    width: 90%;
    margin: 0 auto;

    position: relative;
  }

  &__close {
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 99;

    position: absolute;
    top: 20px;
    right: 5px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__headings {
    display: flex;
  }

  &__heading {
    font-size: 2rem;
    padding: 2rem 0;

    @include respond(desktop) {
      font-size: 2.5rem;
    }
  }

  &__desc {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: $color-grey;

    margin-bottom: 4.2rem;

    @include respond(desktop) {
      font-size: 1.6rem;
    }
  }

  &__checkbox-label {
    display: block;
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 1px solid $color-grey;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  &__checkmark {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: $color-primary;
    display: none;

    &--2-level {
      top: 40px;
    }
  }

  &__hr {
    border: 1px solid $color-border;
  }
}

.pledge {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__p {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: $color-grey;
    padding: 1rem 0;

    @include respond(desktop) {
      font-size: 1.6rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    width: 60px;
    height: 35px;
    margin-right: 1rem;

    padding: 1rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: 1.5rem;
    font-family: $font-primary;
    font-weight: 400;
    border: 1px solid $color-border;
    cursor: pointer;
    text-align: center;

    &::placeholder {
      text-align: left;
    }
  }
}

.hide-modal {
  display: none;
}

.show-modal {
  display: block;
}
