.modal {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 55;

  &__text-wrapper {
    width: 90%;
    margin: 0 auto;

    position: relative;
  }

  &__close {
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 99;

    position: absolute;
    top: 20px;
    right: 5px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__headings {
    display: flex;
  }

  &__heading {
    font-size: 2rem;
    padding: 2rem 0;

    @include respond(desktop) {
      font-size: 2.5rem;
    }
  }

  &__desc {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: $color-grey;

    margin-bottom: 4.2rem;

    @include respond(desktop) {
      font-size: 1.6rem;
    }
  }

  &__hr {
    border: 1px solid $color-border;
  }
}

.pledge {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__p {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: $color-grey;
    padding: 1rem 0;

    @include respond(desktop) {
      font-size: 1.6rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    width: 60px;
    height: 35px;
    margin-right: 1rem;

    padding: 1rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: 1.7rem;
    font-family: $font-primary;
    font-weight: 400;
    border: 1px solid $color-border;
    cursor: pointer;
    text-align: center;
  }

  &__input-wrapper {
    position: relative;

    &::after {
      content: "$";
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      font-size: 1.7rem;
      font-family: $font-primary;
      font-weight: 700;

      color: $color-grey;
      opacity: 0.8;
    }
  }
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;

  transition: all 1s;

  &__radio {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__select {
    height: 25px;
    width: 25px;
    background-color: $color-white;
    border-radius: 50%;
    border: 1px solid $color-border;
    margin-right: 1rem;
    position: relative;

    &::after {
      content: "";
      top: 5px;
      left: 5px;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      border-radius: 50%;
      background-color: $color-primary;
      display: none;
    }
  }
}

.label input:checked ~ .label__select:after {
  display: block;
}

.hide-modal {
  display: none;
}

.show-modal {
  display: block;
}
