// Colors

$color-primary: hsl(176, 50%, 47%);
$color-secondary: hsl(176, 72%, 28%);
$color-black: hsl(0, 0%, 0%);
$color-grey: hsl(0, 0%, 48%);
$color-white: #fff;
$color-body: hsla(0, 0%, 97%, 1);
$color-border: hsla(0, 0%, 92%, 1);

// Fonts

$font-primary: "Commissioner", sans-serif;

// Breakpoints //

$bp-tablet: 43.75rem;
