// Variables //

// Colors

$color-primary: hsl(176, 50%, 47%);
$color-secondary: hsl(176, 72%, 28%);
$color-black: hsl(0, 0%, 0%);
$color-grey: hsl(0, 0%, 48%);
$color-white: #fff;

// Fonts

$font-primary: "Commissioner", sans-serif;

// Styles //

// Frontend Mentor footer

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
